НАЗАД{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% if request.user.is_authenticated  %}
      <div class="text-right menu-link">
        <a href="{% url 'my_resources' %}"><span class="no-underline" aria-hidden="true"><i class="fas fa-backward"></i>&nbsp;</span>НАЗАД</a>
        <a href="#" data-toggle="modal" data-target="#menuModal">МЕНЮ<span class="no-underline" aria-hidden="true">&nbsp;<i class="fas fa-bars" ></i></span>
        </a>
      </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="bookmark-block">
      <a href="#" title="bookmark this resource" class="no-underline" id="bookmark" data-bookmarked="{{ bookmarked }}">
        {% if bookmarked %}
            <i class="fas fa-bookmark" id="bookmark-icon"></i> Важное
        {% else %}
            <i class="far fa-bookmark" id="bookmark-icon"></i> Важное
        {% endif %}
      </a>
    </div>
    
    <h2 id='resource-name' data-resource-id="{{ resource.id }}">
        {{ resource.name }}
    </h2>
    <h3>Создать блок</h3>
    <div class="form-group">
        <input type="datetime-local" class="form-control date-filter" id="datefilter">
        <small id="dateError" class="text-danger"></small>
    </div>
    <div id="loading-div"><img src="{% static 'reservations/star-loader.svg' %}" alt="loading graphic"></div>
    <div id="block-height">
    <div id="blocks">
    </div>
    </div>
    
{% endblock %}

{% block js %}
<script src="{% static 'reservations/jquery-ajax-csrf.js' %}"></script>
<script>
/* global $ */
$('document').ready(function(){
    
    $('#loading-div').fadeOut(100, function(){
        get_reservations();
    });
    
    $('#datefilter').change(function(){
        validateDatefilter();
        get_reservations();
    });
    
    $('#bookmark').click(function(){
        var resource_id = $('#resource-name').attr('data-resource-id');
        var bookmarked = $(this).attr('data-bookmarked');
        $.ajax({
            type:'POST',
            url: '/ajax/bookmark/',
            data: {
              'resource_id':resource_id,
              'bookmarked':bookmarked,
            },
            dataType: 'json',
            success: function(data){
                if(data['bookmarked']=="True"){
                    console.log('true');
                    $('#bookmark-icon').removeClass('far').addClass('fas')
                    $('#bookmark').attr('data-bookmarked', 'True')
                }else{
                    console.log('false');
                    $('#bookmark-icon').removeClass('fas').addClass('far')
                    $('#bookmark').attr('data-bookmarked', 'False')
                }
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
    })
});
    
function get_reservations(){
    $('#block-height').css('min-height', $('#blocks').height());
    
    var reservation_date = $('#datefilter').val();
    if(isNaN(new Date(reservation_date))){
        reservation_date = "{% now 'Y-m-d' %}";
        $('#datefilter').val(reservation_date);
    }
    var resource_id = $('#resource-name').attr('data-resource-id');
    
    
    $.ajax({
        type:'POST',
        url: '/ajax/get-reservations/',
        data: {
          'reservation_date': reservation_date,
          'resource_id':resource_id,
        },
        dataType: 'json',
        success: function(data){
            if(Object.keys(data).length>0){
                update_ui(data);
            }else{
                console.log('Something went wrong :-/');
            }
        },
        error: function(e){
            console.log(e.responseText);
        }
    });
}

// Bind click event functions to elements generated by ajax
$(document).on('click', '.reservation-link', function(){
    
        $('.reservation-status-icon').each(function(){
            if( $(this).hasClass('reservation-clicked') ){
                $(this).removeClass('reservation-clicked');
                $(this).html('<i class="fas fa-check">');
            }
        });
        
    }).on('click','.reservation-status-icon', function(){
    
    if($(this).parent().attr('data-reserved')=='open'){
    // Make a new reservation
        var time_block_id = $(this).parent().attr('data-time-block-id');
        var resource_id = $(this).parent().attr('data-resource-id');
        var date = $('#datefilter').val();
        var node = $(this).parent();
        $.ajax({
            type:'POST',
            url: '/ajax/make-reservation/',
            data: {
              'time_block_id': time_block_id,
              'resource_id':resource_id,
              'date':date
            },success: function(data){
                if(data['date-error']){
                    $(node).children('.reservation-link').append( '<br><small class="text-danger">'+data['date-error']+'</small>' );
                }else{
                    //console.log(data);
                    $(node).children('.reservation-status-icon').html('<i class="fas fa-check">');
                    $(node).attr('data-reservation-id', data['id']);
                    $(node).attr('data-reserved', 'user');
                }
            },
        });
        return;
    }
    
    if($(this).hasClass('reservation-clicked')){
    // Canceling a reservation
        if(!validateDatefilter()){
            if($(this).parent().children('.reservation-link').children('small').length<1){
                $(this).parent().children('.reservation-link').append( '<br><small class="text-danger">This reservation is in the past.</small>');
            }
            $(this).removeClass('reservation-clicked');
            $(this).html('<i class="fas fa-check">');
            return;
        }
        // Ajax request to cancel reservation:
        var reservation_id = $(this).parent().attr('data-reservation-id');
        var node = $(this).parent();
        // console.log(reservation_id)
        $.ajax({
            type:'POST',
            url: '/ajax/cancel-reservation/',
            data: {
              'reservation_id': reservation_id
            },
            dataType: 'json',
            success: function(data){
                //console.log(data);
                $(node).children('.reservation-status-icon').removeClass('reservation-clicked');
                $(node).children('.reservation-status-icon').html('');
                $(node).attr('data-reservation-id', 'null');
                $(node).attr('data-reserved', 'open');
            }
        });
        
    }else{
        // First click
        $(this).addClass('reservation-clicked').html('<i class="fas fa-times-circle"></i>');
    }
});

function update_ui(data){
    $('#blocks').fadeOut(100, function(){
        $('#blocks').children().remove();
        updateBlocks(data);
        $('#loading-div').fadeIn(100, function(){
            $('#loading-div').fadeOut(100, function(){
                 $('#blocks').fadeIn(100);
            });
        });
    });

}

function updateBlocks(data){
    for(var key in data){
        var time_block_id = data[key]['time_block_id'];
        var time_block_name = data[key]['time_block_name'];
        var resource_id = data[key]['resource_id'];
        var reservation_id = data[key]['reservation_id'];
        var reserved = data[key]['reserved'];
        
        var node = document.createElement('div');
        node.setAttribute('class', 'reservation-block reservation-block-sm');
        node.setAttribute('data-time-block-id', time_block_id);
        node.setAttribute('data-resource-id', resource_id);
        node.setAttribute('data-reservation-id', reservation_id);
        node.setAttribute('data-reserved', reserved);
        $(node).append('<span class="reservation-link">')
        $(node).children('.reservation-link').html(time_block_name);
        
        if(reserved=='open'){
            $(node).append('<span class="reservation-status-icon reservation-status-icon-sm">');
        }else if(reserved=='user'){
            $(node).append('<span class="reservation-status-icon reservation-status-icon-sm">');
            $(node).children('.reservation-status-icon').append('<i class="fas fa-check">');
        }else{
            $(node).children('.reservation-link').append(' ('+reserved+')');
        }
        
        $('#blocks').append(node);
        //console.log(data[key]);
    }
}


function validateDatefilter(){
    /**Validate date and hide matching blocks
    */
       
    // Validate in local timezone
    var targetdate = new Date($('#datefilter').val());
    targetdate.setMinutes(targetdate.getMinutes() + targetdate.getTimezoneOffset());
    var now = new Date();
    now.setHours(0,0,0,0);
    
    if(isNaN(targetdate)){ 
        // invalid date
        $('#dateError').html('Incorrect date format.');
        return false;
    }else if(targetdate<now){ 
        // Date in past
        $('#dateError').html('You cannot make reservations in the past.');
        return false;
    }else{ 
        // Valid date
        $('#dateError').html(''); // clear error msg
        return true;
    }
}

</script>

{% endblock %}