{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <a href="{% url 'index' %}">
    <img class="brand brand-lg" src="{% static 'aion/aion-logo.svg' %}">
  </a>
  <h2>Войти</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {% crispy form %}
  </form>
  <small class="text-muted"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
  <hr>
  <h6 title="Вам будет выслан пароль для входа в учётную запись после вашей индентификации по фото."><a href="http://80.249.146.230:8081/student/validate_identity">Войти по фото (Восстановление доступа)</a></h6>
  </form> 

{% endblock %}
