{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <a href="{% url 'index' %}">
    <img class="brand brand-lg" src="{% static 'aion/aion-logo.svg' %}">
  </a>

  {% if validlink %}
    <h2>Изменить пароль</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {% crispy form %}
    </form>
  
  {% else %}
  <h2>Что-то пошло не так</h2>
    <p>
      Данная ссылка для сброса пароля не валидна, так как она уже была использована.
      Пожалуйста, создайте новую заявку для сброса.
    </p>
  {% endif %}
  
{% endblock %}
